.video-container {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-header {
  display: flex;
  flex-direction: row;
  align-self: self-start;
  margin-bottom: 20px;
}

.input_video {
  display: none;
}

.control-panel {
  display: none;
}
.video-logo {
  height: 15vh;
}

.player-translation {
  font-size: 2rem;
  margin-bottom: 20px;
}

.player-wraper {
  border: 1px solid #c7c7c7;
  border-radius: 84px;
  padding: 50px 100px;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 2rem;
}

.main-container {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-title {
  font-size: calc(10px + 6vmin);
}

.second-title {
  font-size: calc(10px + 2vmin);
}

.press-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 30vh;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  font-size: calc(5px + 2vmin);
}

.press-btn:hover {
  cursor: pointer;
  background-color: #c7c7c7;
}

.logo-center {
  height: 30vh;
  margin: 20px;
}