.main-container {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: calc(10px + 6vmin);
}

.second-title {
  font-size: calc(10px + 2vmin);
}

.press-btn {
  height: 8vh;
  width: 30vh;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  font-size: calc(5px + 2vmin);
}

.press-btn:hover {
  cursor: pointer;
  background-color: #c7c7c7;
}

.logo-center {
  height: 30vh;
  margin: 20px;
}

/*.logo-up {*/
  /*animation: move 3s ease;*/
  /*position: absolute;*/
  /*top: 200px;*/
  /*left: 600px;*/
  /*height: 30vh;*/
  /*margin: 20px;*/
/*}*/

/*@keyframes move {*/
  /*100% {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*height: 15vh;*/
  /*}*/
/*}*/